.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border: black solid 1px;
}

.submit-button{
  background: cornsilk;
  border: none;
  padding: 10px 20px;
  color: black;
  border: black solid 1px;
  
}

/* .container{
  margin: 10px 300px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  

} */